<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="dest content">
      <h2>Destination:</h2>
      <h4>title: <%= aDest.destination %></h4>
      <h4>city: <%= aDest.city %></h4>
      <h4>country: <%= aDest.country %></h4>
    </div>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
