<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="wishlist content">
            <form action="/wishlist" method="POST">
                <u><b>Your Travel Wishlist: </b></u></br><br> 
            <% if (theWishlist.length > 0) { %>
                <% theWishlist.forEach(item => { %>
                    <b><%= item.destination %></b>
                    <a href="/wishlist/<%=item.id%>/edit?destination=<%=item.destination%>&country=<%=item.destination%>">edit</a>
                    <a href="/wishlist/<%=item.id%>/delete?destination=<%=item.destination%>">delete</a></br> 
                    <% }) %>
            <% } %>
            </br><label>Add Destination:</label></br>
            <label>Name:
                <input type="text" id="destination" name="destination" value="<%= locals.destination %>" required>
            </label>
            <label>Country:
                <input type="text" id="country" name="country" value="<%= locals.country %>" required>
            </label>
            <label>City:
                <input type="text" id="city" name="city" value="<%= locals.city %>" required>
            </label>
            </br>
            <button>POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>